html,body{
font-family: 'Nixie One', cursive;
}

.test {
	position: absolute;
	top: 30%;
	left: 35%;
	font-size: 30px;
	color:white;


	/*margin-right: 100px;*/
	/*font-size: 50px;*/

}
* {
	margin: 0
}
img {
 height: 755px;
 width:1519px;
}